<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Super Suculenta te enseña a cuidar cada una de las suculentas dependiendo de los aspectos" />
  <meta name="keywords" content="Suculenta, plantas, Cactáceas, Cactus, Crasas, Crasuláceas, echevería" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="shortcut icon" href="../image/suc2.ico" type="image/x-icon">
  <link rel="stylesheet" target="_blank" href="../css/main.css">
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

  <title>Cuidados</title>

</head>

<body>
  <header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html"><img class="iconoHome" src="../image/sucIconNav.ico"
            alt="Home" />Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">



            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="tipos.html" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Tipos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../views/tipos.html#cara">Característica</a></li>
                <li><a class="dropdown-item" href="../views/tipos.html#tallo">Tallo</a></li>
                <li><a class="dropdown-item" href="../views/tipos.html#sTallo">Sin Tallo</a></li>
                <li><a class="dropdown-item" href="../views/tipos.html#cactus">Cactus</a></li>
                <li><a class="dropdown-item" href="../views/tipos.html#colgantes">Colgantes</a></li>
              </ul>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" href="cuidados.html">Cuidados</a>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" href="galeria.html">Galerias</a>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" href="libros.html">Libros</a>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" href="videos.html">Videos</a>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" href="shop.html">Shop</a>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" href="contacto.html">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- <nav class="navegacion">
            <ul class="menu">
                <li><a href="tipos.html">Tipos</a>
                    <ul class="subMenu">
                        <li><a href="../views/tipos.html#tallo">Con Tallo</a></li>
                        <li>
                          <a href="../views/tipos.html#sinTallo">Sin Tallo</a>
                        </li>
                        <li>
                          <a href="../views/tipos.html#cactus">Cactus o Con Espinas</a>
                        </li>
                        <li>
                          <a href="../views/tipos.html#colgantes">Colgantes</a>
                        </li>
                    </ul>
                </li>
                <li><a href="cuidados.html">Cuidados</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <a href="../../index.html"><img src="../image/sucIconNav.ico" alt="Home"></a></li>
                <li><a href="libros.html">Libros</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="contacto.html">Contacto</a></li>

            </ul> -->
    </nav>
  </header>
  <h1 class="titulos">Como Cuidar a Tu Bebe Suculenta</h1>

  <section class="cuidadosIntro">
<article>
  <p class="intro">Las suculentas son geniales por su versatilidad ornamental, se lucen estupendamente tanto en
    interiores como
    exteriores, pero no todo queda allí, ya que es una de las plantas más fáciles de cultivar y cuidar; a
    continuación te presentamos algunos tips básicos para que tus suculentas siempre estén hermosas y en
    perfecto estado. </p>
  <img src="../image/cuidados.jpeg" class="rounded mx-auto d-block" alt="" style="max-width: 100%">

</article>
   
<article class="cuidadosDos">
  

 <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Luz y Temperatura
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><strong>Las Suculentas en general y los Cactus</strong> en particular precisan un lugar con mucha luz,
        aunque el sol directo todo el día podría provocar quemaduras en determinadas especies más delicadas.
        <br> Lo mejor es una posición donde disfruten de sol una parte del día, al menos unas 5 ó 6 horas de sol, de
        mañana o de tarde.
        <br>Los Cactus grandes toleran más sol que los pequeños, pero incluso al alcanzar los 4-5 años conviene que
        parte del día estén bajo una leve sombra.
        <br>
        <br>Las macetas de plástico oscuro se pueden sobrecalentar con el sol y quemar las raíces del Cactus. Lo
        mejor es tener macetas de colores blancos o pastel y en caso de no tener otra opción, recubre la maceta por
        fuera con papel u otro material blanco grueso.
        <br>
        <p> <img src="../image/cuidados/macetas.jpeg" class="rounded mx-auto d-block" style="max-width: 100%">
        </p>
        <p>
          <li><strong>Temperatura</strong></li>
        </p>
        <p> Dependerá de las especies, pero en general, si la temperatura baja de +5o C muchas Suculentas, sobre
          todo las que provienen de zonas tropicales, pueden morir.
          Cuando el termómetro baje de 10o-15o C es muy importante conservar el substrato de las macetas totalmente
          seco.
          Por tanto, si tienes una Suculenta en macetas en el jardín, es aconsejable disponer de un sitio con techo,
          donde no se mojen con la lluvia, porque no aguantan la conjunción de frío y suelo húmedo.
          <br>Además el techo resguarda del frío, pero en climas con heladas fuertes no será suficiente protección y
          hay que meter dentro de casa o en un invernadero cerrado.
          Las plantas pueden estar fuera de abril a septiembre, cuando ya no haya riesgo de heladas.</p>
        <p> <img src="../image/cuidados/luzTemperatura.jpeg" class="rounded mx-auto d-block" style="max-width: 100%">
        </p>
      
      </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Sustratos
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"> En los centros de jardinería venden preparados que
        son bastante adecuados para todas las plantas Suculentas. Se les suele llamar <strong>"tierra para
          cactus"</strong>. Sólo hay
        que tener en cuenta que vienen poco abonados, por lo que se les debe añadir fertilizantes minerales.
        <p>La otra opción es hacerte tu propia mezcla. Lo fundamental para este tipo de plantas es que el substrato
          sea suelto, aireado, poroso y nunca se quede encharcado reteniendo el agua mucho tiempo. Para conseguirlo
          puedes hacer lo siguiente:</p>
        <p>
          <li>El 50% que sea arena de río lavada y gruesa.</li>
        </p>

        <li>El otro 50% de turba negra y algo de bolitas de
          corcho blanco.</li>

        <p>Añade a esta mezcla unfertilizante de lenta liberación granulado.

          <p> <img src="../image/cuidados/sustratos.jpeg" class="rounded mx-auto d-block" class="img-fluid">
          </p>
        
        </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Cambio de Maceta
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Al igual que las demás plantas, las Suculentas
        necesitan el cambio a una maceta mayor cada 2 ó 3 años, dependiendo de la especie y de su crecimiento.

        <p> <br> <strong> ¿Por qué se debe cambiar de maceta?</strong>

          <li>La planta ya no cabe en ese recipiente.</li>
          <li>Salen raíces por el agujero de drenaje.</li>
          <li>El sustrato se empobrece y es necesario aportar más de otro fresco.</li>
        </p>


        <br> Recuerda al elegir que las macetas de plástico deben regarse menos que las de barro porque retienen
        el
        agua más tiempo. Estas pierden agua por las paredes porosas.
        <p><img src="../image/cuidados/cambio.jpeg" class="rounded mx-auto d-block" class="img-fluid"></p>


        <p> <br> <strong>Consejo sobre macetas se refiere al aspecto estético.</strong>
          <br>
          <br> Si la planta es de porte alargado, escoge una maceta alta, o si, por el contrario, la planta tiene
          un
          crecimiento bajo, mejor decántate por una maceta bajita.</p>
         </div>
  </div>
</div>

</article>
  </section>




    








  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>

<footer class="pie">

  <div class="grupoUno">
   
    <div class="caja1">
        <h6>SOBRE NOSOTROS</h6>
        <p>Somos un grupo para ayudar a que puedas cultivar tus propias suculentas</p>
        <p>Y puedas tener conocimiento de como mantenerlas de la mejor manera posible</p>
    </div>

    <div class="caja">
        <h6> SIGUENOS</h6>
        <div class="redSocial">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
</div>

<div class="grupoDos">
    <small>&copy; 2022 <b>SuperSuculenta</b> - Todos los Derechos Reservados.</small>
</div>

</footer>
</body>

</html>