<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="../image/suc2.ico" type="image/x-icon">
    <link rel="stylesheet" target="_blank" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="tipos.html">Tipos</a>
                    <ul class="subMenu">
                        <li><a href="">Con Tallo</a></li>
                        <li><a href="">Sin Tallo</a></li>
                        <li><a href="">Cactus o Con Espinas</a></li>
                        <li><a href="">Colgantes</a></li>
                    </ul>
                </li>
                <li><a href="cuidados.html">Cuidados</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <a href="../../index.html"><img src="../image/sucIconNav.ico" alt="Home"></a></li>
                <li><a href="libros.html">Libros</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>
    <h1 class="titulos">Como Cuidar a Tu Bebe Suculenta</h1>

    <section class="cuidadosIntro">

        <p class="intro">Las suculentas son geniales por su versatilidad ornamental, se lucen estupendamente tanto en
            interiores como
            exteriores, pero no todo queda allí, ya que es una de las plantas más fáciles de cultivar y cuidar; a
            continuación te presentamos algunos tips básicos para que tus suculentas siempre estén hermosas y en
            perfecto estado. </p>
        <img src="../image/cuidados.jpeg" class="rounded mx-auto d-block" alt="">
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <footer class="pie">
        <p>TODOS LOS DERECHOS RESERVADOS</p>
    </footer>
</body>

</html>