<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidados</title>
    <link rel="stylesheet" target="_blank" href="../css/style.css">
</head>
<body>
    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="tipos.html">Tipos</a>
                    <ul class="subMenu">
                        <li><a href="">Con Tallo</a></li>
                        <li><a href="">Sin Tallo</a></li>
                        <li><a href="">Cactus o Con Espinas</a></li>
                        <li><a href="">Colgantes</a></li>
                    </ul>
                </li>
                <li><a href="cuidados.html">Cuidados</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <a href="../../index.html">Logo</a></li>
                <li><a href="libros.html">Libros</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>
    <h1 class="titulos">Como Cuidar a Tu Bebe Suculenta</h1>

    <footer class="pie">
        <p>TODOS LOS DERECHOS RESERVADOS</p>
    </footer>
</body>
</html>