<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Super Suculenta te muestras diferentes galerias para que conozcas los tipos de Suculentas" />
  <meta name="keywords" content="Suculenta, plantas, Cactáceas, Cactus, Crasas, Crasuláceas, echevería" />
  <link rel="shortcut icon" href="../image/suc2.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" target="_blank" href="../css/main.css">
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

  <title>Galeria</title>

</head>

<body>

  <header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html"><img class="iconoHome" src=" ../image/sucIconNav.ico"
            alt="Home" />Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href=""></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="tipos.html" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Tipos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../views/tipos.html#cara">Característica</a></li>
                <li><a class="dropdown-item" href="../views/tipos.html#tallo">Tallo</a></li>
                <li><a class="dropdown-item" href="../views/tipos.html#sTallo">Sin Tallo</a></li>
                <li><a class="dropdown-item" href="../views/tipos.html#cactus">Cactus</a></li>
                <li><a class="dropdown-item" href="../views/tipos.html#colgantes">Colgantes</a></li>
              </ul>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" href="cuidados.html">Cuidados</a>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" href="galeria.html">Galerias</a>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" href="libros.html">Libros</a>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" href="videos.html">Videos</a>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" href="contacto.html">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



  </header>


  <h1 class="titulos">Galeria De Una Bonita Suculenta</h1>

  <main>
 

    <!-- ----- GALERIA GRID ----- -->
    <h3 class="tituloTercero">Suculentas con Tallo</h3>

    <section class="galeriaTallo">

      <figure class="galeriaImagen galeriaImg1">
        <img src="../image/galeria/con/agavoidesRomeo.jpeg" class="galeria-img" class="img-fluid">
      </figure>

      <figure class="galeriaImagen galeriaImg2">
        <img src="../image/galeria/con/echeveriaAgavoides.jpeg" class="galeria-img" class="img-fluid">
      </figure>

      <figure class="galeriaImagen galeriaImg3">
        <img src="../image/galeria/con/echeveriaElegans.webp" class="galeria-img" class="img-fluid">
      </figure>

      <figure class="galeriaImagen galeriaImg4">
        <img src="../image/galeria/con/echeveriaEbony.jpeg" class="galeria-img" class="img-fluid">
      </figure>

      <figure class="galeriaImagen galeriaImg5">
        <img src="../image/galeria/con/arbolJade.jpeg" class="galeria-img" class="img-fluid">
      </figure>

      <figure class="galeriaImagen galeriaImg6">
        <img src="../image/galeria/con/echeveriaImbricata.jpeg" class="galeria-img" class="img-fluid">
      </figure>

      <figure class="galeriaImagen galeriaImg7">
        <img src="../image/galeria/con/Crassula-Arborescens-Undulatifolia.jpeg" class="galeria-img" class="img-fluid">
      </figure>



      <figure class="galeriaImagen galeriaImg8">
        <img src="../image/galeria/con/echeveriaLaui.jpeg" class="galeria-img" class="img-fluid">
      </figure>

      <figure class="galeriaImagen galeriaImg9 ">
        <img src="../image/galeria/con/echeveriaLilacina.jpeg" class="galeria-img" class="img-fluid">
      </figure>

      <figure class="galeriaImagen galeriaImg10">
        <img src="../image/galeria/con/echeveriaSetosa.jpeg" class="galeria-img" class="img-fluid">
      </figure>
    </section>

    <h3 class="tituloTercero">Suculentas sin Tallo</h3>


    <div class="galeria">

      <div class="contenedorImagenes">

        <div class="imagenSin">
          <img src="../image/galeria/sin/cooperi.jpeg" class="img-fluid" alt="" >
       <div class="overlay">
         <h5>cooper</h5>
       </div>
        </div>
  
        <div class="imagenSin">
          <img src="../image/galeria/sin/gasteria.jpg" class="img-fluid" alt="">
          <div class="overlay">
            <h5>Gasteria</h5>
          </div>
        </div>
  
        <div class="imagenSin">
          <img src="../image/galeria/sin/haworthia1.jpeg" class="img-fluid" alt="">
          <div class="overlay">
            <h5>Haworthia</h5>
          </div>
        </div>
        <div class="imagenSin">
          <img src="../image/galeria/sin//truncata.jpeg" class="img-fluid" alt="">
          <div class="overlay">
            <h5>Truncata</h5>
          </div>
        </div>
        <div class="imagenSin">
          <img src="../image/galeria/sin/lithops.jpeg" class="img-fluid" alt="">
          <div class="overlay">
            <h5>Lithops</h5>
          </div>
        </div>
        <div class="imagenSin">
          <img src="../image/galeria/sin/sanseveriaCilindrica.jpeg" class="img-fluid" alt="">
          <div class="overlay">
            <h5>Sanseveria Cilindrica</h5>
          </div>
        </div>
        <div class="imagenSin">
          <img src="../image/galeria/sin/sanseveriaVelvet.jpeg" class="img-fluid" alt="">
          <div class="overlay">
            <h5>Sansiveria Velvet</h5>
          </div>
        </div>
        <div class="imagenSin">
          <img src="../image/galeria/sin/sanseveriaEnana.jpeg" class="img-fluid" alt="">
          <div class="overlay">
            <h5>Sansiveria Enana</h5>
          </div>
        </div>
        <div class="imagenSin">
          <img src="../image/galeria/sin/cuspidiata.jpeg" class="img-fluid" alt="">
          <div class="overlay">
            <h5>Cuspidiata</h5>
          </div>
        </div>
      </div>

     

    </div>


<section class="cactus">
  
  <article>
    <h3 class="tituloTercero">Cactus</h3>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../image/galeria/cactusImagenes/echinocactus.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Echinocactus</h5>
            
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../image/galeria/cactusImagenes/euphorbia.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Euphorbia</h5>
           
          </div>
        </div>
        <div class="carousel-item">
          <img src="../image/galeria/cactusImagenes/mammillarias.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Mammillarias</h5>
          
          </div>
        </div>
        <div class="carousel-item">
          <img src="../image/galeria/cactusImagenes/opuntias.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Opuntias</h5>
          
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </article>


  <article class="colgantes2">
    <h3 class="tituloTercero">Colgantes</h3>


    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../image/galeria/colgantesImagenes/colaDeRata.jpeg" class="d-block w-100" alt="...">
          
          
        
        </div>
        <div class="carousel-item">
          <img src="../image/galeria/colgantesImagenes/dischidiaNummularia.jpeg" class="d-block w-100" alt="...">
          
         
          
        </div>
        <div class="carousel-item">
          <img src="../image/galeria/colgantesImagenes/plantaRosario.jpeg" class="d-block w-100" alt="...">
         
      
        </div>
        <div class="carousel-item">
          <img src="../image/galeria/colgantesImagenes/rhipsalisBaccifera.jpeg" class="d-block w-100" alt="...">
       
          
         
        </div>
        <div class="carousel-item">
          <img src="../image/galeria/colgantesImagenes/sedumBurrito.jpeg" class="d-block w-100" alt="...">
         
         
        </div>
      </div>


      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </article>
</section>





  </main>






  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>


<footer class="pie">

  <div class="grupoUno">
   
    <div class="caja1">
        <h6>SOBRE NOSOTROS</h6>
        <p>Somos un grupo para ayudar a que puedas cultivar tus propias suculentas</p>
        <p>Y puedas tener conocimiento de como mantenerlas de la mejor manera posible</p>
    </div>

    <div class="caja">
        <h6> SIGUENOS</h6>
        <div class="redSocial">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
</div>

<div class="grupoDos">
    <small>&copy; 2022 <b>SuperSuculenta</b> - Todos los Derechos Reservados.</small>
</div>

</footer>
</body>

</html>