.contacto,
.form-floating,
.enviar {
  margin: 25px 50px;
  gap: 2rem;
  border-radius: 5px;
}

.enviar {
  border-radius: 2px;
}

@each $red, $color in $redes {
  .red--#{$red} {
      background: $color;
      &:hover {
          background: white;
          .red__nombre {
              color: $color;
          }
      }
  }
}
