.intro{
  margin: 20px 40px;
  padding: 20px ;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

}
.cuidadosDos{
margin: 50px 40px;
padding: 20px 
}

.accordion-button{
background-color: #a1cea1a2;

}

// .luz{
//   display: flex;
//   justify-content:center;
//   align-items: center;
//   gap: 2rem;
  
  
//   }
   
  /*  

  */
  
  @each $var in cuidados1, cuidados2 {
    .img-#{$var}{
      width: 100%;
      height: 200px;
      background-size:cover ;
      background-image: url('/assets/image/#{$var}.jpeg');
    }
  }
  
    