.videos {

  margin: 2rem;
  padding: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: 2em;
  grid-template-areas:
    "video1 video2"
    "video3 video4"
  ;

  place-items: center;

}

@media (max-width:375px) {
  .videos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "video1"
      "video2"
      "video3"
      "video4"
  }

}