/*IMPORTS*/
/*MISC*/
/*Colores*/
/*Fonts*/
/*Redes*/
/*
@mixin flexColum ($direccion: column, $alinear: center) {
    display: flex;
    flex-direction: $direccion;
    align-items: $alinear;
}
*/
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ffffff; }

.titulos {
  font-size: 3em;
  color: #006400;
  margin: 50px 50px;
  text-align: center;
  animation-duration: 3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.tituloSecundario {
  font-size: 2rem;
  color: #2e9b2e;
  margin: 40px 40px;
  text-align: center; }

.tituloTercero {
  font-size: 1.5rem;
  color: #a7282e;
  margin: 50px 40px;
  text-align: left; }

.tituloCuarto {
  font-size: 19px;
  color: #284aa7;
  margin: 50px auto; }

.iconoHome {
  transition: transform 3s ease-in-out; }

.iconoHome:hover {
  transform: rotate(70deg) scale(1); }

.titulos {
  animation-name: slidein; }

/*PARTIAL*/
/*FOOTER*/
.pie {
  width: 100%;
  margin: 5px auto;
  padding: auto;
  background-image: linear-gradient(#65ac6a, #d9f5d4);
  text-align: center; }

nav {
  width: 90%;
  margin: 15px auto;
  background-image: linear-gradient(#65ac6a, #d9f5d4);
  text-align: center; }
  nav ul {
    list-style: none; }

.menu {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px; }
  .menu > a {
    text-decoration: none; }
  .menu > li {
    position: relative;
    display: inline-block; }
    .menu > li > a {
      display: flex;
      text-decoration: none;
      padding: 10px 10px;
      color: chocolate; }
      .menu > li > a:hover {
        color: blanchedalmond; }
    .menu > li:hover .subMenu {
      display: block; }
  .menu .subMenu {
    position: absolute;
    width: 100%;
    display: none;
    background-color: #e6f7e7;
    min-width: 140px; }
    .menu .subMenu > li > a {
      text-decoration: none;
      text-align: start; }
      .menu .subMenu > li > a a {
        display: block;
        padding: 7px; }

/*VIEWS*/
/*Tipos*/
.caracteristicas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto 60px;
  column-gap: 1em;
  margin: 20px 20px;
  padding: 60px;
  font-size: 25px;
  align-items: center; }

.conTallo,
.sinTallo,
.cactus,
.colgantes {
  margin: 20px 40px;
  align-items: center;
  justify-content: center; }

.card {
  background-color: #b4f5f5; }

@media screen and (max-width: 375px) {
  .titulos, .tituloSecundario, .tituloTercero, .caracteristicas, .imagen, .container {
    display: flex;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center; } }

.intro {
  margin: 20px 40px;
  padding: 60px;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: start; }

.luz {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; }

/*  

    */
.img-cuidados1 {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url("/assets/image/cuidados1.jpeg"); }

.img-cuidados2 {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url("/assets/image/cuidados2.jpeg"); }

.contacto,
.form-floating,
.enviar {
  margin: 25px 50px;
  gap: 2rem;
  border-radius: 5px; }

.enviar {
  border-radius: 2px; }

.red--twitter {
  background: #51aff8; }
  .red--twitter:hover {
    background: white; }
    .red--twitter:hover .red__nombre {
      color: #51aff8; }

.red--facebook {
  background: #2956a3; }
  .red--facebook:hover {
    background: white; }
    .red--facebook:hover .red__nombre {
      color: #2956a3; }

.red--linkedin {
  background: #0076b8; }
  .red--linkedin:hover {
    background: white; }
    .red--linkedin:hover .red__nombre {
      color: #0076b8; }

.red--youtube {
  background: #ce1312; }
  .red--youtube:hover {
    background: white; }
    .red--youtube:hover .red__nombre {
      color: #ce1312; }

.galery {
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: start; }

main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center; }

.info {
  width: 90%;
  max-width: 1600px;
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center; }
  .info img {
    width: 500px;
    height: 350px;
    align-items: center; }
  .info .infoSuculenta, .info .habitat {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    margin: 5px 30px; }

.familiaSuculentas {
  font-size: 40px;
  color: darkseagreen;
  margin: 5px 30px;
  text-align: center; }

.familia {
  margin: 150px auto;
  width: 600px; }

table {
  text-align: center;
  width: 100%;
  background-color: white;
  border-collapse: collapse; }

th,
td {
  padding: 20px; }

thead {
  background-color: #92e487;
  border-bottom: solid 5px #ebf1eb;
  color: #32373b; }

@media screen and (max-width: 768px) {
  main,
  .info,
  .caracteristicas {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center; }
  table,
  .familia {
    width: 100vw;
    /*vw, sirve para el ancho de las pantallas*/ }
  picture img {
    max-width: 100%; }
  .imagen img {
    max-width: 100%; } }

@media screen and (max-width: 375px) {
  main,
  .info,
  .caracteristicas {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center; }
  table,
  .familia {
    width: 100vw;
    /*vw, sirve para el ancho de las pantallas*/ }
  picture img {
    max-width: 100%; }
  .imagen img {
    max-width: 100%; } }

.books {
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: start; }

.video {
  margin: 2em;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: start; }
