.titulos {
    font-size: 3em;
    color: $titulo1;
    margin: 50px 50px;
    text-align: center;
    animation-duration: 3s;
    font-family: $fontTitle;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  .tituloSecundario {
    font-size: 2rem;
    color: $titulo2;
    margin: 40px 40px;
    text-align: center;
  }
  
  .tituloTercero {
    font-size: 1.5rem;
    color: $titulo3 ;
    margin: 50px 40px;
    text-align: left;
  }
  
  .tituloCuarto{
    font-size: 19px;
    color: $titulo4;
    margin: 50px auto;
  }
  
  