/*Colores*/

$bg: #ffffff;
$bg2: #c9fadc;
$bgNav:(#65ac6a, #d9f5d4);
$titulo1: #006400;
$titulo2:#2e9b2e;
$titulo3:#a7282e;
$titulo4:#284aa7;



/*Fonts*/

$fontTitle: (Verdana, Geneva, Tahoma, sans-serif);
$fontText: verdana;

/*Redes*/

$redes: (
	twitter: #51aff8,
	facebook: #2956a3,
	linkedin: #0076b8,
	youtube: #ce1312
);


