.caracteristicas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto 100px;
    column-gap: 1em;
    margin: 20px 40px;
    padding: 60px ;
  
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .conTallo,
.sinTallo,
.cactus,
.colgantes {
  margin: 20px 40px;
  font-size: 22px;
  /*display: flex;*/
  align-items: center;
  justify-content: start;
}
